In [1]:
import os, sys
sys.path.append(os.path.abspath(".."))

In [2]:
from src.config import DATA_PATH
import os

print("DATA_PATH:", DATA_PATH)
print("File exists:", os.path.exists(DATA_PATH))

DATA_PATH: c:\Users\razan\Downloads\tel\data\WA_Fn-UseC_-Telco-Customer-Churn.csv
File exists: True

In [3]:
import os
import pandas as pd

In [4]:
from src.config import DATA_PATH
from src.io_utils import load_telco_data
from src.clean import clean_telco

In [5]:
os.makedirs("outputs", exist_ok=True)

In [6]:
from src.io_utils import load_telco_data
from src.config import DATA_PATH

df_raw = load_telco_data(DATA_PATH)
print("Raw shape:", df_raw.shape)
df_raw.head()

Raw shape: (7043, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:

df = clean_telco(df_raw)
print("Clean shape:", df.shape)
display(df.head())

Clean shape: (7032, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [8]:
df.to_csv("outputs/telco_clean.csv", index=False)
print("Saved: outputs/telco_clean.csv")

Saved: outputs/telco_clean.csv