In [1]:
import os, sys
sys.path.append(os.path.abspath(".."))

In [2]:
import pandas as pd
from src.config import DB_PATH
from src.sql_pipeline import build_sqlite_db, run_sql_query

In [3]:
df = pd.read_csv("outputs/telco_clean.csv")

In [4]:
build_sqlite_db(df, DB_PATH)
print("DB ready:", DB_PATH)

DB ready: c:\Users\razan\Downloads\tel\outputs\telco_churn.db

In [5]:
q1 = """
SELECT COUNT(*) AS customers,
       ROUND(AVG(Churn)*100, 2) AS churn_rate_pct,
       ROUND(AVG(MonthlyCharges), 2) AS avg_monthly_charges
FROM telco_churn;
"""
display(run_sql_query(DB_PATH, q1))

   customers  churn_rate_pct  avg_monthly_charges
0       7032           26.58                 64.8

In [6]:
q2 = """
SELECT Contract,
       COUNT(*) AS customers,
       ROUND(AVG(Churn)*100, 2) AS churn_rate_pct
FROM telco_churn
GROUP BY Contract
ORDER BY churn_rate_pct DESC;
"""
display(run_sql_query(DB_PATH, q2))

         Contract  customers  churn_rate_pct
0  Month-to-month       3875           42.71
1        One year       1472           11.28
2        Two year       1685            2.85